<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <title>Document</title>
</head>
<body>
   

     <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center bg-success p-2 text-light ">UPLOAD ANYTHING HERE </h1>
        </div>
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
        <div class="col-3">
          
        </div>
      </div>
     </div>
     
   
</body>
</html>